<html ng-app="bugzzinga">
<head>
  <title>Buggzinga - Bugtracker</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/thirdParty")
    @RenderSection("scripts", required: false)
</head>

<body>
    <header class="header">
        @*<- Menu ->*@
    </header>

    <div class="container">

        @RenderSection("featured", required: false)

        <div class="row-fluid">
            <div class="span12">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="float-left">
                <p>
                    &copy; @DateTime.Now.Year - Bugzzinga
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
