<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <title>Buggzinga - Bugtracker</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/thirdParty")
    @Scripts.Render("~/Scripts/viewModels")

</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
    <header class="header">
        <- Menu ->
    </header>

    <div class="container">

        @RenderSection("featured", required: false)

        <div class="row-fluid">
            <div class="span12">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="float-left">
                <p>
                    &copy; @DateTime.Now.Year - Bugzzinga
                </p>
            </div>
        </div>
    </footer>

    <!-- Modal -->
    <div id="messageBox" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Mensaje</h3>
        </div>
        <div class="modal-body">
            <p></p>
        </div>
        <div class="modal-footer">
            <a href="#" id="messageBox_NO" class="btn fn-yesno">No</a>
            <a href="#" id="messageBox_YES" class="btn btn-primary fn-yesno">Si</a>
            <a href="#" id="messageBox_OK" class="btn btn-primary fn-ok">Aceptar</a>
        </div>
    </div>

    @RenderSection("modals", required: false)
    @RenderSection("scripts", required: false)

</body>
</html>
